<!DOCTYPE html>
{% load static %}
<html lang="hu" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{%static "css/bootstrap.min.css"%}" />
  <link rel="stylesheet" href="{%static "css/master.css"%}" />

  <title>
    {% block title_block%}
      <!-- pagetitle -->
    {% endblock %}
  </title>


</head>


<body>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">User Auth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:register' %}">Register</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            {% if user.is_authenticated %}
            {{user.username}} <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a>
            {% endif %}
          </li>
        </ul>
    </form>
    </div>
  </nav>
  </div>
  <div class="container">

    {% block body_block%}
      <!-- site body -->
    {% endblock %}

  </div>
  <script src="{%static "js/jquery-3.5.1.min.js"%}"></script>
  <script src="{%static "js/bootstrap.min.js"%}"></script>
</body>
</html>
